{{ ansible_managed | comment }}
[Unit]
Description=Renew ACME certificates
Requires=network-online.target
After=network-online.target

[Service]
User={{ lego_user }}
Group={{ lego_group }}
ReadWritePaths={{ lego_home }}
ExecStart=/usr/local/bin/lego-wrapper renew --renew-hook="{{ lego_home }}/run-hooks"
PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectSystem=strict
{% if lego_renew_hooks | selectattr('name', 'search', '^sudo-.*') | length == 0 %}
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% endif %}
