{{ ansible_managed | comment }}
[Unit]
Description=Renew ACME certificates
Requires=network-online.target
After=network-online.target

[Service]
User={{ lego_user }}
Group={{ lego_group }}
ExecStart=/usr/local/bin/lego-wrapper renew --renew-hook="{{ lego_home }}/run-hooks"
{% if not lego_service_sandbox_disable %}
{% set readwritepaths = [lego_service_sandbox_readwritepaths] if lego_service_sandbox_readwritepaths is string else lego_service_sandbox_readwritepaths %}
ReadWritePaths={{ lego_home }}{% for d in readwritepaths %} {{ d }}{% endfor +%}
{% if readwritepaths | select('search', '^/tmp/.*') | length == 0 %}
PrivateTmp=true
{% endif %}
{% if readwritepaths | select('search', '^/home/.*') | length == 0 %}
ProtectHome=true
{% endif %}
ProtectControlGroups=true
ProtectSystem=strict
{% if lego_renew_hooks | selectattr('name', 'search', '^sudo-.*') | length == 0 %}
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% endif %}
{% endif %}
