#!/bin/bash

set -euo pipefail

export LEGO_PATH="{{ lego_home }}"

{{ lego_pre_script }}

# Continue renewing if one domain failed
set +e

global_exit=0

{% for conf in lego_domains %}
{% set domains = [conf.name] if conf.name is string else conf.name %}
{% for k, v in conf.get('env', {}).items() %}
{{ k }}="{{ v }}" \
{% endfor %}
/usr/local/bin/lego --accept-tos --email "{{ conf.email }}" --dns "{{ conf.dns }}"{% for d in domains %} --domains "{{ d }}"{% endfor %} "$@"
tmp_exit=$?
global_exit=$(( tmp_exit > global_exit ? tmp_exit : global_exit ))
{% endfor %}

exit $global_exit
